$Blue: #3C9DF6;

@mixin SUB_TITLE_TEXT {
  font-size: 18px;
  font-weight: bold;
}

.wrap {
  width: 100%;
  height: auto;
  margin: 0 auto;

  .max-wrap1 {
    width: 100%;
    max-width: 96.5%;
    margin: 0 auto;
    height: 80vh;

    .title-wrap {
      display: flex;
      align-items: center;
      margin: 10px 0px 20px 0px;
      padding-bottom: 5px;
      border-bottom: 1px solid #ccc;

      h2 {
        font-size: 20px;
        margin-left: 0.5em;

        span {
          font-size: 16px;
          color: $Blue;
          margin-left: 0.5em;
        }
      }
    }

    .content-wraps{
      display: flex;
      height: 100%;
      .left-content-wrap{
        width: 35%;
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        padding: 0px;
      }
      .right-content-wrap{
        width: 60%;
      }
    }
  }
}





.frame {
  border: 1px solid #b9b9b9;
  border-radius: 15px;
  padding: 0 10px;
  margin: 0px;
  box-shadow: 0px 1.5px 2px rgb(0 0 0 /25%);
  height: 100%;

  p {
    @include SUB_TITLE_TEXT();
    margin-left: 5px;
  }

  .con_title {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    height: 5%;
    margin: 10px 0;

    p{
      margin-right: 10px;
      font-size: 18px;
      font-weight: bold;
      margin-left: 2px;
    }


    .title_barcode{
      padding-top: 5px;
      p{
        font-size: 15px;
      }
    }

    input{
      margin-right: 10px;
      width: 100px;
    }

    .search_btn{
      border: 1px solid $Blue;
      background: #fff;
      color: $Blue;
      font-weight: bold;
      padding: 3px 13px 3px 13px;

      &:hover {
        background: $Blue;
        color: #fff;
        transition: 0.5s;
        font-weight: bold;
      }
    }
  }

  .table_max_size{
    height: 80%;

    table {
      border-collapse: collapse;
      width: 100%;
      text-align: center;
      margin: 20px 0px;
      padding: 0px 15px;
    }

    th {
      border: 1px solid black;
      padding : 6px 15px;
      background: #f0f0f0;
    }

    td {
      border: 1px solid black;
      padding : 6px 15px;
    }
  }
  .table_scroll{
    overflow-y: auto;
  }

}


.conclusion_item {
  textarea {
    width: 95%;
    padding: 5px;
    border: 1px solid lightgrey;
    background: #f0f0f0;
    border-radius: 5px;
    resize: none;
  }

  input {
    width: 95%;
    padding: 5px;
    border: 1px solid lightgrey;
    background: #f0f0f0;
    border-radius: 5px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  margin: 15px auto;

  .item_btn {
    border: 1px solid $Blue;
    background: #fff;
    color: $Blue;
    font-weight: bold;
    padding: 5px 13px 5px 13px;
    border-radius: 5px;
    margin: 0px 10px;
    width: 35%;

    &:hover {
      background: $Blue;
      color: #fff;
      transition: 0.5s;
      font-weight: bold;
    }

    &:disabled {
      border: none;
      cursor: default;
      opacity: 0.5;
      background: lightgray;

      &:hover {
        background: lightgray;
        color: $Blue;
      }
    }
  }
}