.default1 {
    padding: 0.9em 0 1.5em 0;

    .default-wrap1 {
        text-align: center;

        .default-icon1 {
            color: #e6e6e6;
            
            svg {
                font-size: 3.1em;
            }
        }

        h3 {
            color: #ccc;
        }

        p {
            font-size: 12px;
            line-height: 26px;
            color: #ccc;
        }
    }
}