$Blue: #3c9df6;

.wrap {
    position: relative;
}

body.swal2-toast-shown {
    .swal2-container.swal2-center {
        width: auto;
        z-index: 10000;

        .swal2-popup.swal2-toast {
            padding: 2em;
        }
    }
}

.modal-background {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.modal-wrap {
    position: fixed;
    left: 53%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 9999;

    .openModal.modal.phone {
        width: 16em;
        border-radius: 35px;
        position: relative;
        background: radial-gradient(
            circle,
            rgb(218, 218, 218) 0%,
            rgb(27, 37, 32) 84%,
            rgb(90, 93, 94) 100%
        );
        box-shadow: 0px 1.5px 2px rgba(0, 0, 0, 0.25);
        border: 2px solid #f0f0f0;

        .modal-in-wrap.phone {
            header {
                border: none;
                position: relative;
                background: transparent;

                .camera-wrap {
                    width: 56%;
                    height: 27px;
                    background: radial-gradient(
                        circle,
                        rgb(218, 218, 218) 0%,
                        rgb(27, 37, 32) 84%,
                        rgb(90, 93, 94) 100%
                    );
                    border-bottom-right-radius: 15px;
                    border-bottom-left-radius: 15px;
                    position: absolute;
                    top: -10px;
                    left: 50%;
                    transform: translateX(-50%);
                    margin: 0 auto;
                    margin-bottom: 0.7em;
                    z-index: 999;
                    box-shadow: 0px 1.5px 2px rgba(0, 0, 0, 0.25);

                    ul {
                        display: flex;
                        margin: 0 auto;
                        z-index: 9999;

                        li {
                            list-style: none;
                        }

                        .sound {
                            width: 50px;
                            height: 10px;
                            background: #000;
                            opacity: 0.6;
                            border-radius: 10px;
                            margin-left: 18px;
                        }

                        .camera {
                            margin-left: 10px;
                            width: 10px;
                            height: 10px;
                            background: radial-gradient(
                                circle,
                                rgb(25, 25, 25) 0%,
                                rgb(25, 46, 42) 38%,
                                rgb(250, 255, 255) 100%
                            );
                            border-radius: 50%;
                        }
                    }
                }
                .top-icon {
                    display: flex;
                    position: absolute;
                    top: 3px;
                    right: 4px;
                    z-index: 999;

                    li {
                        list-style: none;

                        svg {
                            color: #060606;
                            font-size: 14px;
                            margin-right: 0.1em;
                        }
                    }
                }
            }
            .phone-content {
                width: 94%;
                height: 28em;
                border: 1px solid #000;
                position: absolute;
                background: #f0f0f0;
                border-radius: 24px;
                margin: 0 auto;
                margin-top: 0.7em;
                left: 50%;
                top: 47.5%;
                transform: translate(-50%, -50%);
                overflow: hidden;

                p {
                    font-size: 14px;
                    margin-top: 2em;
                    padding: 0.5em;
                    display: flex;
                    align-items: center;

                    svg {
                        font-size: 19px;
                        margin-right: 6px;
                        margin-top: -1.7px;
                    }
                }

                textarea {
                    width: 93.6%;
                    border: none;
                    border-top: 1px solid #ccc;
                    height: 203px;
                    resize: none;
                    margin-top: 4px;
                    padding: 8px;
                }
            }

            footer {
                background-color: #f0f0f0;
                display: block;
                width: 100%;
                height: 36.5%;
                position: absolute;
                bottom: 0px;
                border-top: 1px solid #ccc;

                .patient-no {
                    margin-top: 3px;
                    border-bottom: 1px solid #ccc;
                }
                .patient-name {
                    margin-top: 3px;
                    border-bottom: 1px solid #ccc;
                }
                .phone-num {
                    border-bottom: 1px solid #ccc;
                    margin-top: 3px;
                }

                .ft-btn-wrap {
                    display: flex;
                    margin-top: 9px;
                    justify-content: center;
                    align-items: center;
                    button {
                        width: 35%;
                        margin-top: 0.4em;
                        border-radius: 4px;

                        &:hover {
                            transition: 0.5s;
                            background: lighten($Blue, 10%);
                        }

                        &:active {
                            background: darken($Blue, 10%);
                        }
                    }
                }
            }
        }
    }

    .openModal.modal {
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 15px;
        width: 18em;
        height: 28em;
        padding: 10px;
        z-index: 9999;
        margin-right: 0.5em;
        margin-left: 0.5em;

        header {
            padding: 8px 0px 8px 0px;
            box-shadow: none;
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 16px;

            svg {
                margin-right: 0.2em;
                font-size: 22px;
            }
        }

        p {
            padding: 10px 0px 10px 0px;
        }

        .in-content {
            padding: 10px 0px 10px 0px;
            border: 1px solid #ccc;
        }

        footer {
            display: flex;
            justify-content: center;

            button {
                background-color: #a9a9a9;
                border: none;
                border-radius: 7px;
                padding: 7px 20px 7px 20px;
                color: #fff;
                cursor: pointer;
                margin-right: 0.5em;
                margin-left: 0.5em;
                font-weight: bold;
                font-size: 14px;
            }
        }
    }
}
